.container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    ". logo ."
    ". video ."
    ". product-info ."
    ". form ."
    "footer footer footer";
}
#logo {
    grid-area: logo;
    background-color: blue;
}
#nav-bar {
    grid-area: nav-bar;
    background-color: purple;
}
#video {
    grid-area: video;
    background-color: black;
}
#product-info {
    grid-area: product-info;
    background-color: green;
}
#form {
    grid-area: form;
    background-color: red;
}